.who-we-are {
    width: 100%;
    height: 170vh;
    background-color: #ffffff;
    position: relative;
}

.embroidered-1, .embroidered-1_1, .embroidered-2, .embroidered-2_2  {
    width: 30%;
    top: 17%;   
    transform: rotate(90deg);
    z-index: 0;
    position: absolute;
}

.embroidered-1 {
    left: -6%;
}

.embroidered-2 {
    right: -6%;
}

.embroidered-1_1 {
    top: 55%;
    left: -6%;
}

.embroidered-2_2 {
    top: 55%;
    right: -6%;
}


.who-we-are .who-tittle {
    font-size: 40px;
    font-weight: 500;
}

.who-we-are .who-info {
    position: absolute;
    left: 23%;
}

.who-info .who-item {
    display: flex;
}

.who-item img {
    width: 35%;
    height: 45vh;
}

.who-item .who-text {
    width: 32%;
    text-align: center;
    // text-align: justify;
    padding: 30px 20px;
    letter-spacing: 2px;    
}

.who-info a {
    position: absolute;
    left: 29%;
    margin-bottom: 50px;
    bottom: -17%;
    background-color: #ff0000;
    border: none;
}
